* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header.header {
	position: fixed; /* Fija el header */
	top: 0; /* Lo coloca en la parte superior */
	left: 0; /* Lo alinea desde el borde izquierdo */
	right: 0; /* Lo extiende hasta el borde derecho */
	width: 100%; /* Asegura que ocupe todo el ancho */
	z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 25px;
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	color: white;
}

body {
	padding-top: 90px; /* Ajusta este valor según la altura de tu header */
}

h2.title {
	font-size: 24px;
}
nav.nav ul.list-links {
	list-style: none;
	display: flex;
	gap: 30px;
	margin-right: 40px;
	
}

.links a {
	color: white;
	text-decoration: none;
	font-weight: lighter;
	transition: color 0.5s;
	&:hover {
		color: rgba(255, 255, 255, 0.5);
		transition: color 0.5s;
	}
}

section#inicio {
	text-align: center;
	padding: 100px 20px;
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	color: white;
}

h3.title-main {
	font-size: 32px;
	margin-bottom: 10px;
}

p.paragraph-main {
	font-size: 18px;
	margin: 25px;
}
button {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	color: #667eea;
	background-color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

button:hover {
	background-color: #d13636;
	color: white;
	transform: translateY(-5px);
}

section#Servicios {
	padding: 50px 20px;
	background-color: #f4f4f4;
	text-align: center;
}
h3.services {
	font-size: 44px;
	margin: 40px;
	color: #333;
}
section#Servicios .card {
	background: white;
	text-align:left;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 30px;
	margin: 30px auto;
	max-width: 70%;
	transition: transform 0.3s, box-shadow 0.3s;
}

.card .icon-card {
	font-size: 25px;
	padding: 8px;
	margin-bottom: 15px;
}

.icon-card {
	width: min-content;
	border-radius: 50px;
	padding: 5px;
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	&:hover {
		background: linear-gradient(135deg, #d13636 0%, #ff7e5f 100%);
		transform: scale(1.2);
		transition: transform 0.3s, box-shadow 0.3s;
	}
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 8px 12px 20px rgba(3px, 3px, 3px, 0.4);
}

h4{
	font-size: 24px;
	margin-bottom: 10px;
	color: #667eea;
}

p.paragraph-card {
	font-size: 16px;
	color: #666;
	line-height: 1.5;
}

footer.footer {
	text-align: center;
	padding: 20px;
	background: #333;
	color: white;
	height: 3rem;
	display: block;
	justify-content: center;
	align-items: center;
}

span {
	font-weight: bold;
	font-size: 0.875rem;
}